@font-face {
  font-family: OppoSans;
  src: url(./font/OPPOSans-R.woff2);
}

body {
  max-width: 1280px;
}

h1,h2,h3,h4,h5,h6,p,span,a,input,div{
  font-family: OppoSans;
}

article p{
  margin: 5px 0;
  font-size: 18px;
  line-height: 30px;
}

/* .nexmoe-post img {
  margin: 10px 0;
} */
#nexmoe-content .nexmoe-primary {
  margin-left: 2vh;
  padding: 3vh 3vw;
}

.highlight,article img {
  border-radius: 10px;
}
.highlight span {
  font-size: 18px;
  line-height: 28px;
}

#nexmoe-background .nexmoe-bg {
  opacity: 0.2;
  filter: blur(0px);
}

#nexmoe-content .nexmoe-post .nexmoe-post-cover h1 {
  /* font-weight: 600; */
}

#nexmoe-header .nexmoe-count div { 
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

#nexmoe-header .nexmoe-count div:hover span{ 
  
  font-weight: 600;
}

#nexmoe-content .nexmoe-post-footer {
  background: transparent;
}
