@font-face {
  font-family: OppoSans;
  src: url(http://volit.top/font/OPPOSans-R.woff2);
}

body {
  max-width: 1280px;
}

h1,h2,h3,h4,h5,h6,p,span,a,input,div{
  font-family: OppoSans;
}

article p{
  margin: 5px 0;
  font-size: 18px;
  line-height: 30px;
}

/* .nexmoe-post img {
  margin: 10px 0;
} */
#nexmoe-content .nexmoe-primary {
  margin-top: 20px;
  padding: 3vh 3vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.vl-nav {
  box-sizing: border-box;
  max-width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px 12px;
  background: rgba( 255, 255, 255, 0.85 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

#nexmoe-header .nexmoe-widget-wrap {
  background: rgba( 255, 255, 255, 0.85 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}

.vl-title {
  display: block;
  padding: 15px 0 40px 0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-style:italic;
}

.nexmoe-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.highlight,article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.highlight span,.highlight {
  font-size: 18px;
  line-height: 24px;
}

.vl-avatar-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.vl-avatar-container {
  flex: 1 1 auto;
  width: 100%;
}

.vl-avatar {
  border-radius: 50%;
}

#nexmoe-header .nexmoe-avatar {
  border-radius: 10px;
  margin: 0;
  box-shadow: none;
}
#nexmoe-header .nexmoe-list {
  padding: 0;
  max-width: 220px;
}

#nexmoe-background .nexmoe-bg {
  opacity: .9;
  filter: blur(4px)
}

#nexmoe-content .nexmoe-primary{
  box-sizing: border-box;
  background: rgba( 255, 255, 255, 0.85 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* padding-bottom: 20px; */
}

#nexmoe-header .nexmoe-count {
  flex: 1 1 auto;
  width: 100%;
  max-width: 220px;
  margin: 10px 0;
  /* border-bottom: 1px solid #dcdfe6; */
}

#nexmoe-header .nexmoe-count div { 
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

#nexmoe-header .nexmoe-count div span{ 
  font-weight: 600;
}

#nexmoe-content .nexmoe-post .nexmoe-post-copyright {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#nexmoe-content .nexmoe-post-footer {
  background: #fff;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#nexmoe-header .nexmoe-list .nexmoe-list-item {
  border-radius: 10px;
  color: #363636;
  margin-bottom: 5px;
}

#nexmoe-header .nexmoe-list .nexmoe-list-item.true {
  box-shadow: none;
}
